@model EFHerancaComposicao.Models.PessoaFisica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PessoaFisica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.PessoaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.PessoaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.PessoaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.PessoaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeOuRazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeOuRazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PessoaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
